@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', sans-serif;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.05);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#root {
  box-shadow: -16px 32px -32px -32px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -16px 32px -32px -32px  rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -16px 32px -32px -32px  rgba(0, 0, 0, 0.3);
  width: 90%;
}
